ion-view(title="{{business.name}}")
  ion-nav-bar.bar-positive
    ion-nav-back-button.button-clear
      button.button.button-clear.button-icon.icon.ion-ios7-arrow-back
    ion-nav-buttons(side="right")
      button.button.button-clear.button-icon.icon.ion-ios7-plus(ng-click="openModal()")
  ion-content.bg-grey
    div.button-bar
      a.button Today
        p 5pm-10pm
      a.button
        button.button.button-clear.button-icon.icon.ion-ios7-telephone
        p {{business.phone}}
      a.button
        button.button.button-clear.button-icon.icon.ion-ios7-location
        p Navigate
    ion-list
    //- replace item in items with dish in menu.dishes
      a.menu-card(ng-repeat="item in items | filter:search" href="#/tab/find/item/{{item._id}}")
        div.menu-card-content
          div.item.item-divider {{item.name}}
          img(src='{{item.top_image_url}}')
          div.menu-card-footer {{item.stars}}
          //- need to have number of reviews
